<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trade Details</title>
    <link rel="stylesheet" href="/styles/trades.css">
</head>

<body>
    <header>
        <span>Global Trades Platform</span>
        <div class="hamburger" id="hamburger" onclick="toggleMenu()">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <nav id="navMenu">
            <a href="/">Home</a>
            <a href="/trades">Trades</a>
            <a href="/dba">DBA</a>
            <a href="/#footer">About Us</a>
            <!-- <a href="/login">Login</a> -->
        </nav>
    </header>

    <main>
        <h2 class="table-heading">Product and Country Details</h2>
        <table class="container">
            <thead>
                <tr>
                    <th>Country</th>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i=0; i < secondTableMsg.length; i++) { %>
                    <tr>
                        <td>
                            <%= secondTableMsg[i].country_name %>
                        </td>
                        <td>
                            <%= secondTableMsg[i].product_name %>
                        </td>
                        <td>
                            <%= secondTableMsg[i].category %>
                        </td>
                        <td>
                            <%= secondTableMsg[i].role %>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>

        <h2 class="table-heading">Import Details</h2>
        <table class="container">
            <thead>
                <tr>
                    <th>Country</th>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Quantity</th>
                    <th>Cost</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i=0; i < firstTableMsg.length; i++) { %>
                    <tr>
                        <td>
                            <%= firstTableMsg[i].country_name %>
                        </td>
                        <td>
                            <%= firstTableMsg[i].product_name %>
                        </td>
                        <td>
                            <%= firstTableMsg[i].category %>
                        </td>
                        <td>
                            <%= firstTableMsg[i].quantity ? `${firstTableMsg[i].quantity.toLocaleString()} units` : ''
                                %>
                        </td>
                        <td>
                            <%= firstTableMsg[i].cost ? `$${firstTableMsg[i].cost.toLocaleString()}` : '' %>
                        </td>
                        <td>
                            <%= firstTableMsg[i].role %>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>

        <h2 class="table-heading">Export Details</h2>
        <table class="container">
            <thead>
                <tr>
                    <th>Country</th>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Quantity</th>
                    <th>Cost</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i=0; i < thirdTableMsg.length; i++) { %>
                    <tr>
                        <td>
                            <%= thirdTableMsg[i].country_name %>
                        </td>
                        <td>
                            <%= thirdTableMsg[i].product_name %>
                        </td>
                        <td>
                            <%= thirdTableMsg[i].category %>
                        </td>
                        <td>
                            <%= thirdTableMsg[i].quantity ? `${thirdTableMsg[i].quantity.toLocaleString()} units` : ''
                                %>
                        </td>
                        <td>
                            <%= thirdTableMsg[i].cost ? `$${thirdTableMsg[i].cost.toLocaleString()}` : '' %>
                        </td>
                        <td>
                            <%= thirdTableMsg[i].role %>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>

        
    </main>
</body>

</html>